@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Human <a href="Humen">CLICK</a>.</p>
    <p>Descktops <a href="Descktops">CLICK</a>.</p>
    <p>Humen and their classrooms <a href="HumanToClassrooms">CLICK</a>.</p>
    <p>Classrooms  <a href="Classrooms">CLICK</a>.</p>
</div>
